@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 400px; 
}

.message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 300px; 
}

.message-item {
  display: flex;
  padding: 5px;
  margin-bottom: 10px;
}

.message-right {
  justify-content: flex-end;
}

.message-left {
  justify-content: flex-start;
  color:black
}

.message-sender {
  font-weight: bold;
  margin-right: 10px;
  color:white;
}

.message-content {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #f0f0f0;
  max-width: 60%; 
  word-wrap: break-word;
}

.message-right .message-content {
  background-color: #007bff;
  color: white;
}

.message-input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px); 
}

.send-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.user-message {
  text-align: right;
  background-color: #f0f0f0; 
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
}

.other-message {
  text-align: left;
  background-color: #d0d0d0;
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input {
  color : black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */ 

/* Add this to your global CSS file */
.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Width of the thumb */
  height: 16px; /* Height of the thumb */
  background: #2563eb; /* Thumb background */
  cursor: pointer;
  border-radius: 50%; /* Circular thumb */
}

.slider-thumb::-moz-range-thumb {
  width: 16px; /* Width of the thumb */
  height: 16px; /* Height of the thumb */
  background: #2563eb; /* Thumb background */
  cursor: pointer;
  border-radius: 50%; /* Circular thumb */
}
